/* ================== */
/* = GENERAL STYLES = */
/* ================== */

html {
  min-width: 1090px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 1em 0;
}

svg {
  font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.units {
  color: #777;
}

.toolbar { 
  padding: 0 0 0 80px;
  font: 14px sans-serif;
}

.widget {
  float: left;
  margin: 0 30px 10px 0;
}
.widget-label {
  margin-right: 1em;
  line-height: 1.5em;
}
.widget.pad-top {
  margin-top: 9px;
}
.widget.less-margin {
  margin: 3px 10px 10px 0;
}

.background {
  fill: #eee;
}

.clear {
  clear: both;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

input[type="range"].range { display: none; }

.toggle-btn {
  float: left;
  display: inline-block;
  color: #536570;
  border: 1px solid #d4dbe0;
  padding: 0.7em 1em;
  cursor: pointer;
  border-right-width: 0;
}

.toggle-btn-left { border-radius: 8px 0 0 8px; }
.toggle-btn-right { border-radius: 0 8px 8px 0; border-right-width: 1px; }
.toggle-btn-both { border-radius: 8px; border-right-width: 1px; }

.toggle-btn.mini {
  margin-top: -0.3em;
  font-size: 80%;
  padding: 0.4em 1em;
}

.toggle-btn:hover {
  border-color: #b0bdc6;
  text-decoration: none;
}
.toggle-btn:hover + .toggle-btn { border-left-color: #b0bdc6; }

.toggle-btn.active {
  background-color: #e6e6e6;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.toggle-btn.active:hover {
  color: #536570;
  border-color: #d4dbe0;
}
.toggle-btn.active:hover + .toggle-btn { border-left-color: #d4dbe0; }

.no-display {
  display: none;
}

/* ================== */
/* = HEATMAP STYLES = */
/* ================== */

#snps-num {
  text-align: right;
}

.range {
  vertical-align: bottom;
}
.rangeslider--horizontal {
  display: inline-block;
  width: 100px;
}
.rangeslider__fill {
  background: #1995dc;
}
.pathospot-heatmap .rangeslider--horizontal {
  width: 200px;
}

#heatmap-order, #cluster-legend {
  line-height: 24px;
}
#cluster-legend {
  display: none;
}
#cluster-legend a .icon {
  padding-right: 0.3em;
}

#cluster-info {
  position: relative;
  left: 8px;
}
#cluster-info svg {
  position: absolute;
  cursor: pointer;
}
#cluster-info .icon {
  font-size: 150%;
  position: relative;
  top: 3px;
  pointer-events: none;
}

#download-clusters {
  margin-left: 0.6em;
}

#cluster-list {
  position: relative;
  top: -1px;
  margin-left: 12px;
}

#cluster-list a {
  color: white;
  display: inline-block;
  font-size: 12px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 3px;
  text-align: center;
  -webkit-print-color-adjust: exact;
}
#cluster-list a:link {
  text-decoration: none;
}


#histo-title {
  position: absolute;
  left: 690px;
  width: 380px;
  text-align: center;
}

#main-viz {
  position: absolute;
  z-index: 1;
}

line {
  stroke: #fff;
}

text.label {
  fill: #ccc;
}

text.axis-label {
  font-weight: bold;
  fill: #777;
}

.active text {
  fill: black;
  font-weight: bold;
}

#controls circle {
  stroke: #ccc;
  fill: white;
  stroke-width: 1.5px;
}

#controls circle.selected {
  stroke: black;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#controls .extent {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1.5px;
}

.handle {
  fill: rgba(0, 0, 0, 0.7);
}

.column.no-labels text, .row.no-labels text  {
  display: none;
}
.column.no-lines line, .row.no-lines line {
  display: none;
}
.hide-axis-labels .axis-label-expanded {
  display: none;
}

.cell {
  stroke-width: 2px;
}
.cell.clickable {
  cursor: pointer;
}
.cell.active.clickable {
  stroke: rgba(255, 255, 255, 1);
}
.cell.active.clickable.same-pt {
  stroke-width: 3px;
}

.bg {
  fill: none;
}
.selected {
  fill: rgba(0, 0, 0, 0.07);
}

.selected-cell {
  stroke: #000;
  stroke-width: 4px;
  fill: none;
}

.histo-bg {
  fill: white;
  opacity: 0;
  cursor: crosshair;
}

.histo-cutoff {
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: 4;
}

.bar {
  fill: rgba(0, 0, 0, 0.3);
}
.bar .same-pt {
  fill: rgba(0, 0, 0, 1);
}

.dendro .link, .dendro .scale {
  fill: none;
  stroke: #777;
}

.dendro .leaf {
  stroke: #ccc;
  stroke-dasharray: 2;
}
.hide-axis-labels .dendro .leaf {
  display: none;
}

#epi-heatmap {
  background-color: #2e2e2e;
  position: absolute;
  z-index: 0;
  width: 100%;
  box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.7);
  box-sizing: content-box;
}
#epi-heatmap > .cont {
  background: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

#epi-heatmap .heatmap-canvas {
  opacity: 0.5;
}

#epi-controls {
  position: absolute;
  z-index: 2;
  margin-top: 40px;
  color: #777;
}

#epi-controls .rangeslider {
  opacity: 0.7;
}

#epi-controls .chk-label, #epi-controls .chk {
  cursor: pointer;
}

#epi-controls .chk {
  font-size: 160%;
  margin-right: 0.2em;
}

#epi-controls .color-scale {
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-bottom: -6px;
  position: relative;
  background: -moz-linear-gradient(left, rgba(0,0,255,0) 0%, rgba(0,0,255,1) 50%, rgba(255,0,0,1) 80%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,255,0) 0%,rgba(0,0,255,1) 50%,rgba(255,0,0,1) 80%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(0,0,255,0) 0%,rgba(0,0,255,1) 50%,rgba(255,0,0,1) 80%,rgba(255,255,255,1) 95%,rgba(255,255,255,1) 100%);
}

#epi-controls .color-scale span {
  position: absolute;
  top: 22px;
  font-size: 10px;
}
#epi-controls .color-scale .min { left: 0; }
#epi-controls .color-scale .max { right: -1em; width: 2em; text-align: center; }

.network-links line {
  stroke: rgba(255, 100, 100, 0.5);
}

.network-nodes circle {
  stroke: white;
  stroke-width: 1.5px;
}

.network-nodes .ungrouped {
  fill: #222;
}

/* ========================== */
/* = DENDRO-TIMELINE STYLES = */
/* ========================== */

#dendro-timeline {
  padding-left: 80px;
  position: relative;
}

#dendro-timeline .toolbar {
  padding-top: 20px;
  padding-left: 100px;
}

#color-scale {
  position: absolute;
  font-size: 12px;
}

#dendro, #dendro-variant-labels {
  margin-left: 100px;
}

#dendro .isolate {
  cursor: pointer;
}
#dendro .isolate-metadata.hover {
  font-weight: bold;
}

#dendro .tree-scale-bar line, #dendro .tree-scale-bar path {
  stroke: #aaa;
}

#dendro .variant-map rect {
  stroke: #444;
  stroke-width: 1px;
  fill: #ddd;
}
#dendro .variant-map text {
  text-anchor: middle;
}
#dendro .variant-map path {
  stroke: #777;
  stroke-width: 1px;
  fill: none;
}

#dendro .variant rect {
  stroke: white;
  stroke-width: 1px;
  fill: #999;
}
#dendro .variant.nonsyn rect {
  fill: #335;
}
#dendro .variant.ref rect {
  fill: white;
}
#dendro .variant text {
  text-anchor: middle;
  fill: white;
}
#dendro .variant.ref text {
  fill: #ddd;
}

.fixed #color-scale {
  position: fixed;
  top: 0;
  left: 80px;
}

#dendro-variant-labels text {
  font-size: 12px;
  text-anchor: end;
}

#timeline-cont {
  margin-left: 60px;
}

#tolerance-units {
  width: 2.5em;
  display: inline-block;
}

#d3_layout_phylotree_context_menu {
  display: none !important;
}

#timeline .x.axis .tick line {
  opacity: 0.2;
}

.pt-dividers g rect {
  fill: white;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#timeline .pt-dividers .even-child rect {
  fill: #f3f6fa;
}

#timeline .pt-dividers .dragging rect {
  fill: #dce4ef;
}

.pt-dividers text, .single-groups .y.axis text {
  font-size: 12px;
  font-weight: bold;
  fill: #777;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
#timeline .y.axis text {
  pointer-events: none;
}
#timeline .single-groups .pt-dividers text {
  display: none;
}

#timeline .encounter {
  fill: #ccc;
  stroke-width: 0px;
}
#timeline .encounter.inpatient {
  fill: #aaa;
}
#timeline .encounter.hover-highlight {
  stroke: #222;
  stroke-width: 2px;
}
#timeline .encounter.hover {
  stroke: #222;
  stroke-width: 2px;
}

#timeline .transfers line {
  stroke: #999;
  stroke-width: 1px;
  stroke-dasharray: 2,1;
  opacity: 1;
  transition: opacity 0.5s;
}
#timeline .single-groups.grouping-by-pt .transfers line {
  stroke: #000;
}
.dragging-row, .dragging-row .pt-dividers g rect, .dragging-row .pt-dividers text {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.dragging-row #timeline .transfers line {
  opacity: 0;
}

#timeline .overlaps path {
  opacity: 0.5;
  fill: #dbb;
  transition: opacity visibility 0.5s;
}
#timeline .overlaps path.hover {
  opacity: 1;
  stroke: #222;
  stroke-width: 2px;
}
#timeline .overlaps path.marginal {
  fill: #aaa;
}
.dragging-row #timeline .overlaps path, #timeline.hide-overlaps .overlaps path {
  opacity: 0;
  pointer-events: none;
}

#timeline .isolate-test {
  display: none;
  stroke: #666;
  fill: rgba(0,0,0,0.1);
}
#timeline.seq-and-any-species .isolate-test {
  display: inline;
}
#timeline.seq-and-same-species .isolate-test.same-species {
  display: inline;
}

/*#timeline .encounter.outpatient {
  fill: url(#diagonal-stripe-5) #fff;
  opacity: 0.2;
}*/

#timeline .isolate.hover, #dendro .isolate.hover {
  stroke: #000 !important;
  stroke-width: 3px;
}

#timeline .isolate-test.hover {
  stroke: #000 !important;
  stroke-width: 2px;
}

#pick-assemblies {
  width: 900px;
  margin: 30px auto;
}

#pick-assemblies .col {
  width: 360px;
  float: left;
}
#pick-assemblies .top-section {
  min-height: 85px;
}

#pick-assemblies .center {
  text-align: center;
}
#pick-assemblies .col.thin {
  width: 140px;
  padding-top: 150px;
}
#pick-assemblies .col .toggle-btn {
  float: none;
}
#pick-assemblies .col.thin label {
  margin-top: 20px;
}
#pick-assemblies .col.thin .toggle-btn {
  min-width: 120px;
  border: 1px solid #eee;
}
#pick-assemblies .col.thin .toggle-btn:hover {
  color: #157ab5;
  border-color: #b0bdc6;
}
#pick-assemblies .toggle-btn .icon {
  font-size: 150%;
  position: relative;
  top: 2px;
  left: 3px;
  line-height: 6px;
}

#pick-assemblies .col label {
  display: block;
}

#pick-assemblies .col select {
  width: 100%;
}

.assemblies-list {
  background: #fafafa;
  table-layout: fixed;
  width: 100%;
  border-radius: 4px;
}
.assemblies-list .date {
  width: 27%;
}
.assemblies-list .tree {
  width: 20px;
  font-weight: bold;
  text-align: center;
}
.assemblies-list .tree i {
  font-size: 130%;
}
.assemblies-list .btn-col {
  width: 30px;
  font-size: 150%;
  text-align: center;
  color: #536570;
  cursor: pointer;
}
.assemblies-list .btn-col:hover, .assemblies-list .btn-col.active {
  color: #157ab5;
}
.assemblies-list .disabled .btn-col i {
  color: transparent;
}
.assemblies-list .btn-col.active i {
  position: relative;
  top: 1px;
  left: 1px;
}
.assemblies-list th {
  font-size: 80%;
}
.assemblies-list td, #pick-assemblies .assemblies-list th {
  padding: 0 2px 0 6px;
}
.assemblies-list td {
  border-top: 1px solid #ccc;
}

#pick-assemblies .disabled {
  opacity: 0.4;
}

#pick-assemblies .select2-container {
  margin-top: 8px;
}

#plot-assemblies {
  display: block;
  font-weight: bold;
}

/* ========================= */
/* = SELECT2 CUSTOMIZATION = */
/* ========================= */

#filter-cont select.select2 {  /* helps prevent flash of unstyled content */
  visibility: hidden;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
}
#filter-cont .select2-container {
  width: 500px !important;
  line-height: 1.5em;
}
#filter-cont input { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 3px 0;
  line-height: normal;
}
.select2-results {
  font-size: 14px;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 300px;
}
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 11px;
}
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
    border-radius: 7px;
    border: 2px solid white;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.select2-container .select2-selection .select2-selection__arrow {
  height: 100%;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  cursor: pointer;
}
.select2-container .select2-selection .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container .select2-results__option .select2-results__option::before {
  display: inline-block;
  width: 1.3em;
  content: ' ';
}

.select2-container .select2-results__option[aria-selected=true]::before {
  content: '\2713 ';
}

/* ========================= */
/* = D3-TIP CUSTOMIZATIONS = */
/* ========================= */

.d3-tip { z-index: 1000; }

.d3-tip .dist-value { font-size: 120%; }

.link-info {
  border-collapse: collapse;
  margin-bottom: 0.5em;
}

.link-info th, .link-info td {
  padding: 0.3em 0.5em;
}
.link-info.border-bottom, .link-info .separator {
  border-bottom: 1px solid white;
}
.link-info .separator td, .link-info .separator th {
  padding: 0 0.5em 0.5em;
}
.link-info .separator+tr td, .link-info .separator+tr th {
  padding-top: 0.5em;
}
.link-info tr:last-child td {
  padding-bottom: 0.5em;
}

.enc-info {
  border-bottom: none;
}

.link-info th.dist {
  text-align: center;
}

.link-info tr.merge td:not(:empty) {
  font-style: italic;
  background-color: #666;
}

.link-info td.same {
  text-align: center;
  font-weight: bold;
}

.link-info td.same.dashes::before {
  display: inline-block;
  height: 0.3em;
  width: 40px;
  content: ' ';
  margin-right: 0.5em;
  align: baseline;
  border-top: 1px solid #555;
}
.link-info td.same.dashes::after {
  display: inline-block;
  height: 0.3em;
  width: 40px;
  content: ' ';
  margin-left: 0.5em;
  align: baseline;
  border-top: 1px solid #555;
}

.cluster-color {
  font-size: 0.9em;
  padding-left: 1.1em;
}

.d3-tip .label {
  text-align: right;
  opacity: 0.5;
}

.d3-tip a:link, .d3-tip a:visited {
  color: white;
  text-decoration: none;
}
.d3-tip.show-more a:link, .d3-tip.show-more a:visited {
  color: #9CD6F7;
}
.d3-tip a:hover, .d3-tip a:active {
  text-decoration: underline;
}

.d3-tip .more {
  text-align: center;
}
.d3-tip .more a:link {
  margin-left: 0.5em;
}
.more .instructions {
  font-style: italic;
}
.more .instructions, .show-more .more .links { display: inline; }
.show-more .more .instructions, .more .links { display: none; }
.more .instructions, .more .links { font-size: 120%; font-weight: bold; }

.d3-tip .merge-warn {
  text-align: center;
  font-size: 80%;
  color: #aaa;
  margin-bottom: 0.5em;
}